{% extends "base.html" %}

{% block title %}BYTE HORIZON| Home{% endblock %}

{% block content %}

<section class="hero">

    <div class="hero-content">

        <h1>Welcome to BYTE HORIZON</h1>

        <p>
            National Level Technical Symposium
        </p>

        <p>
            Participate in exciting Quiz and Coding Challenges.
        </p>

        <div class="buttons">

            <a href="{{ url_for('auth.register') }}" class="btn">
                Register Team
            </a>

            <a href="{{ url_for('auth.login') }}" class="btn">
                Team Login
            </a>

            <a href="/admin/login" class="btn">
                Admin Login
            </a>

        </div>

    </div>

</section>

<section class="features">

    <div class="card">

        <h2>Round 1</h2>

        <p>
            Nail The Basics
        </p>

    </div>

    <div class="card">

        <h2>Round 2</h2>

        <p>
            Logic ah Lock Pannu!
        </p>

    </div>

    <div class="card">

        <h2>Round 3</h2>

        <p>
            The Final Compile
        </p>

    </div>

</section>

{% endblock %}